@model products_test.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Авторизация";
}

<div class="modelform">
    <form asp-action="Login" method="post">
        <div class="modelitem__warning" asp-validation-summary="ModelOnly"></div>
        <div class="modelform__item">
            <label class="modelitem__label" asp-for="Username"></label>
            <input class="modelitem__input" asp-for="Username" />
            <span class="modelitem__warning" asp-validation-for="Username"></span>
        </div>

        <div class="modelform__item">
            <label class="modelitem__label" asp-for="Password"></label>
            <input class="modelitem__input" asp-for="Password" />
            <span class="modelitem__warning" asp-validation-for="Password"></span>
        </div>

        <input class="modelform__button" type="submit" value="Войти" />
    </form>
</div>
